:root {
    --color-page-bg: #F5F5F5;
    --color-text-primary: #000000;
    --color-text-secondary: #888888;

    --color-black: #000000;
    --color-white: #ffffff;
    --color-accent: #DB0C1F;
    --color-info: #5283FF;
    --color-success: #2CDA00;
    --color-accent-hover: rgb(168, 24, 24);
    --color-border: #2A2A2A;
    --color-line: #D4D4D4;

    --container-width: 1200px;

    --font-family-main: var(--font-main);
    --font-family-accent: var(--font-accent);
}