:root {
    --color-page-bg: #eeeeee;
    --color-text-primary: #000000;
    --color-text-secondary: #888888;

    --color-black: #000000;
    --color-white: #ffffff;
    --color-accent: #db0c1f;
    --color-info: #5283ff;
    --color-success: #2cda00;
    --color-accent-hover: rgb(168, 24, 24);
    --color-border: #2a2a2a;
    --color-line: #d4d4d4;
    --color-muted: #a6a6a6;

    --container-width: 1200px;

    --font-family-main: var(--font-main);
    --font-family-accent: var(--font-accent);
}
